<h1>Chuck Norris BIO</h1>


<!-- Mostrar chiste aleatorio -->
<div>
  <h2>Did you know?</h2>
  <p><%= @joke %></p>
</div>


<!-- Formulario para seleccionar categoria y obtener chiste -->

<form method="get" action="/joke">
  <label for="category">Choose a category:</label>
  <select name="category" id="category">
    <%= for category <- @categories do %>
      <option value={category}><%= category %></option>
    <% end %>
  </select>
  <button type="submit">Here's a fact</button>
</form>
